.selection {
    /* display: flex;
    flex-direction: column;
    padding: 12px;
    min-height: 725px; */
    text-align: center;
}

.selection-bg {
    /* width: 100%; */
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* min-height: 600px; */
}

* {
    margin: 0px
}

.program-select-button {
    /* text-decoration: none; */
}

@media (max-width: 1280px) {
    .selection {
        /* min-height: 1920px; */
    }
}

